<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Memelpower new website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="case-study">



<div class="nav fixed sticky" id="main-nav">
    <div class="nav-left">
        <a class="nav-item is-brand">
            <img src="img/mp-logo.png" alt="">
        </a>
        <a class="nav-item" href="tel:+37068291454"><span class="icon icon-phone"></span> +370 682 91454</a>
        <a class="nav-item" href="mailto:hello@memelpower.com"><span class="icon icon-mail"></span> hello@memelpower.com</a>
    </div>

   
    <div class="nav-right">
        <a class="nav-item menu-toggle" href="#menu">
            <span class="icon icon-menu"></span> Menu
        </a>
    </div>
</div>


<div id="menu-overlay"></div>
<div id="menu">
   
    <div class="nav sticky">
        <div class="nav-right">
            <a class="nav-item menu-toggle" href="#menu">
                <span class="icon icon-close"></span>
            </a>
        </div>
    </div>
   
    <div class="menu">
        <ul class="">
            <li>
                <a class="nav-item is-active" href="#nope">Services</a>
            </li>
            <li>
                <a class="nav-item" href="#nope">Team</a>
            </li>
            <li>
                <a class="nav-item" href="#nope">Portfolio</a>
            </li>
            <li>
                <a class="nav-item" href="#nope">Contact</a>
            </li>
        </ul>
    </div>
    <div class="langs nav-item">
        <a href="#en" class="is-active">EN</a>
        <a href="#lt" class="">LT</a>
        <a href="#de" class="">DE</a>
    </div>
</div>




<div class="hero is-fullheight is-dark project-case-study project-limarko" style="background-image: url(/client_img/limarko/limarko-comp.jpg)">
   
    <div class="hero-body has-text-centered">
        <h6 class="subtitle is-6 is-label">Case study</h6>
        <h1 class="title is-1">Limarko.com</h1>
        <p class="subtitle">Website for one of the biggest shipping and logistic companies in the Baltic States</p>
    </div>
    <div class="hero-foot has-text-centered">
        <span class="arrow-scroll">&darr;</span>
    </div>
    
</div>


<div class="hero is-medium">
    <div class="hero-body">
        
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <h2 class="title is-3 has-text-centered">Beginning</h2>
                    <br/>
                    <p>When we first met the Limarko president, <a href="http://www.limarko.com/en/team" target="_blank">Vytautas Lygnugaris</a>, he wanted to improve and optimize his recent website for a better reach with his clients. So he contacted us to support him with our advice and expertise. He asked for a complete redesign, establishing a professional B2B online presence. And yes, we were ready and happy to help. The initial challenge was to rethink the existing content: Dropping the concept of only presenting the Limarko companies to instead showcasing all the services that they perform. Why? Because potential clients who visit their site want to know about services firsthand, they want to know what Limarko can do for them and what projects they already did for other clients.</p>
                    
<!--
                    <h3 class="title is-5 has-text-centered">People we worked with</h3>
                    <p><img src="/client_img/limarko/people.jpg" alt=""></p>
-->
                    
                </div>
            </div>
        </div>
        
    </div>
</div>




<div class="hero is-medium is-dark testimonial-limarko" id="testimonial">
    <div class="hero-body">
        <div class="container">
           
           <div class="columns is-verticaly-centered">
               <div class="column is-5 has-text-centered">
                    <p class="image">
                        <img src="/img/vytautas-lygnugaris.jpg">
                    </p>
                    <h4 class="title is-5">Vytautas Lygnugaris</h4>
                    <p class="subtitle is-6">Limarko President &amp; CEO</p>
               </div>
               
               <div class="column is-7">
                    <blockquote class="is-4 title">
                        <p>It is a pleasure to work with Kai and his team. They immediately understood our needs and created an excellent web experience for our company.</p>
                    </blockquote>
               </div>
           </div>
           
        </div>
    </div>
</div>




<div class="section is-medium">
    <div class="container">
        
        <div class="columns">
            <div class="column">
                <h2 class="title is-3 has-text-centered">What we achieved</h2>
                <br/>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent is-6">
                        <div class="tile notification is-light is-vertical">
                            <div class="card-image">
                               <img src="/client_img/limarko/limarko-laptop-1-crop.jpg" alt="">
                            </div>
                            <p>The “redesign” of the website was a complete new build, creating a unique web design from scratch and providing a new content model.</p>
                        </div>
                        <div class="tile notification is-light is-vertical">
                            <div class="card-image">
                               <img src="/client_img/limarko/icons.jpg" alt="">
                            </div>
                            <p>The new design contains beautiful graphical elements supporting the entire look and feel of the website. Inviting the visitors to find out more about Limarko and improving their user experience. Which gives potential and existing clients a better feeling of what they will actually experience from the company's services.</p>
                        </div>
                        <div class="tile notification is-light">
                           <p>The site became multilingual supporting English, Lithuanian and Russian languages for main target audiences fo the company.</p>
                        </div>
                        <div class="tile notification is-light">
                            <p>All content from old website was migrated, tested, improved, and arranged into new information structure.</p>
                        </div>
                    </div>
                    <div class="tile is-vertical is-parent is-6">
                        <div class="tile notification is-light is-vertical">
                            <div class="card-image">
                               <img src="/client_img/limarko/limarko-mobile-1-crop.jpg" alt="">
                            </div>
                            <p>We adapted the website for mobile devices. The new responsive website now displays information comfortably in smartphones, tablets, laptops or high resolution screens.</p>
                        </div>
                        <div class="tile notification is-light is-vertical">
                            <div class="card-image">
                               <img src="/client_img/limarko/limarko-team.jpg" alt="">
                            </div>
                            <p>The Limarko management got a separate page where visitors and clients can see the main decision-makers behind Limarko.</p>
                        </div>
                        <div class="tile notification is-light">
                            <p>A section for business news and project gallery was created showing what projects Limarko was doing recently as well as giving the company's website more boost for their online positioning (SEO).</p>
                        </div>
                        <div class="tile notification is-light">
                            <p>We used a modern technique to play a beautiful video in a background of main page to immerse visitors and help understand services and scale of the company faster. The video features nice drone footage of Limarko facilities and services in action.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <p>Besides the brand-new website architecture, we also developed  implemented a back-end solution (also called a content management system or CMS) for Limarko. The CMS allows Limarko to easily manage the content on their website themselves.</p>
                    <p>Furthermore, we created an eye-catching, responsive mobile version of the website. Their new mobile enabled website is a plus for their potential and existing customers' web experience as more and more visitors are using mobile devices globally. The new Limarko website adapts to smartphones, tablets, laptops and high resolution screens with ease increasing usability for visitors who are on the go and needs to find information fast. It is also an advantage for Limarko's positioning on search engines too since Google ranks mobile-friendly websites higher nowadays</p>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="hero is-medium is-light" style="">
    <div class="hero-body">
        <div class="columns is-verticaly-centered">
            <div class="column is-6 has-text-centered">
                <img src="/client_img/limarko/limarko-progress-trans.png" alt="">
            </div>
            <div class="column is-4">
                <h2 class="title is-3">Meeting the deadline</h2>
                <br/>
                <p>Usually, business websites are developed within 3 - 6 months or even more depending on the size of the company, its internal structure, stakeholders, their services and the features necessary to reach the goals set up at the beginning of the project. With my team we evaluated the time needed to respect the quality, the goals and deadline required for this project. Since all members of our team have 10+ years of experience which makes them the right people to make the "impossible" possible we manage to find the right scheduling to meet quality and deadline with a little bit of extra time to iron the details if needed.</p>
                <p>It was a nice challenge and we succeeded in time, we exactly finished the website at the day agreed upon. And even better: The entire Limarko team was extremely delighted about the outcome.</p>
            </div>
        </div>
    </div>
</div>






<div class="section is-medium" style="background-image: url(/client_img/limarko/limarko-bg-light.jpg)">
        <div class="columns is-verticaly-centered">
            <div class="column is-5 is-offset-1 has-text-centered">
                <img src="/client_img/limarko/limarko-comp.png" alt="">
            </div>
            <div class="column is-4 is-offset-1">
                <h2 class="title is-3">Final Results</h2>
                <br/>
                <p>Our goal was that all visitors of Limarko’s new website can easily find the information they need, providing an intuitive interface, following the basic KISS principle - most systems work best if they are kept simple rather than made complicated. The new look and feel of the website is supporting the entire simplicity and making the site usable for desktop and mobile users.</p>
                <p>The Limarko board was satisfied with both final result and the process and we reached their expectations.</p>
                <p><a href="http://www.limarko.com" class="button" target="_blank">Visit limarko.com</a></p>
            </div>
        </div>
</div>








<div class="section is-medium has-text-centered">
    <h2 class="title is-5">Read next</h2>
</div>


<div class="columns showcases is-gapless">
    <div class="column is-half">
        <div class="section showcase" id="showcase-kvanto" style="background-color: #f5f5f5">
            <div class="columns">
                <div class="column showcase-image has-text-centered is-half">
                    <img src="/client_img/kvanto/kvanto-thumbnail.png" alt="">
                </div>
                <div class="column showcase-text is-half">
                    <div class="vertical-center">
                        <p class="label">Showcase</p>
                        <h3 class="title is-3">Kvanto.lt Booking System</h3>
                        
                        <a href="#viewcse" class="button">View Case Study <span class="icon icon-right-big"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="column is-half">
        <div class="section showcase" id="showcase-mathelounge" style="background-color: #f4f3e2">
            <div class="columns">
                <div class="column showcase-image has-text-centered is-half">
                    <img src="/client_img/mathelounge/mathelounge-thumbnail.png" alt="">
                </div>
                <div class="column showcase-text is-half">
                    <div class="vertical-center">
                        <p class="label">Showcase</p>
                        <h3 class="title is-3">Mathelounge</h3>
                        
                        <a href="#viewcse" class="button">View Case Study <span class="icon icon-right-big"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section has-text-centered" id="showcase-all">
    <a href="#go" class="button is-large">View All Projects</a>
</div>




<div id="footer">
    
    <div id="footer-map">
        <div id="google-map"></div>
    </div>
    
    <div class="section is-medium is-dark">
        
        <h2 class="title is-2 has-text-centered">Create Your Online Success</h2>
        <h5 class="subtitle is-5 has-text-centered">Talk to us</h5>
        
        <div class="columns">
            <div class="column is-3-desktop is-offset-3-desktop" id="contacts">
               
                <div class="media">
                    <div class="media-left">
                        <div class="image is-24x24">
                            <img src="/img/icons/pin.png" alt="">
                        </div>
                    </div>
                    <div class="media-content">
                        <p>
                            <strong>Memelpower</strong><br>
                            Kulturos fabrikas, 4th floor<br>
                            Bangu str. 5A,LT-91250 Klaipeda,<br>
                            Lithuania<br>
                        </p>
                    </div>
                </div>
                
                <div class="media">
                    <div class="media-left">
                        <div class="image is-24x24">
                            <img src="/img/icons/phone.png" alt="">
                        </div>
                    </div>
                    <div class="media-content">
                        <p>
                            LT: +370 68291454<br>
                            DE: +49 15753259437
                        </p>
                    </div>
                </div>
                
                <div class="media">
                    <div class="media-left">
                        <div class="image is-24x24">
                            <img src="/img/icons/mail.png" alt="">
                        </div>
                    </div>
                    <div class="media-content">
                        <p>
                            <a href="mailto:hello@memelpower.com">hello@memelpower.com</a>
                        </p>
                    </div>
                </div>
                
                <div class="media">
                    <div class="media-left">
                        <div class="image is-24x24">
                            <img src="/img/icons/skype.png" alt="">
                        </div>
                    </div>
                    <div class="media-content">
                        <p>
                            <a href="chat:memelpower.com">memelpower.com</a>
                        </p>
                    </div>
                </div>
                
                <div class="media">
                    <div class="media-left">
                        <div class="image is-24x24">
                            <img src="/img/icons/time.png" alt="">
                        </div>
                    </div>
                    <div class="media-content">
                        <p>
                            Monday - Friday, 9:00 - 18:00 (UTC +3)
                        </p>
                    </div>
                </div>
                
            </div>
            
            
            
            <div class="column is-3 is-offset-1-desktop" id="contact-form">
                <form action="">
                    <label class="label">Your Name</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Text input">
                    </p>
                    <label class="label">Your E-mail</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Email input" value="hello@">
                        <span class="help is-danger">This email is invalid</span>
                    </p>
                    <label class="label">Your Message</label>
                    <p class="control">
                        <textarea class="textarea" placeholder="Textarea"></textarea>
                    </p>
                    <p class="control">
                        <button class="button">Send <span class="icon icon-right-big"></span></button>
                    </p>
                </form>
            </div>
            
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/live.min.js"></script>

</body>
</html>